* {
font-family: arial;
}

* a{
    text-decoration: none;
    color: #fff;
}

.regi, .ent, .last{
    float:right;
}
main .main_page{
    float: right;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width:80%;
}

.color_create_data{
    color: red;
}

.user_class_name{
    color:white;
    float:right;
    width: 30%;
    display: block;
    padding-left:380px;
}

.last{
width: 20%;
margin-left:30px;
padding-right:100px;
}

body{
    background: #2c2c2c;
}

.main_author{
padding-bottom:40px;

}

.author_name_page {list-style: none;}

.author_name_page_li{
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .7s ease;
}


.author_name_page_li:hover, .author_name_page_a:hover{
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

aside {
    float:left;
    background: #181818;
    width: 15%;
    padding: 50px;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img{
    width: 130px;
    height: 150px;
    float: left;
    padding:10px;
}

aside .logo{
    font-size:40px;
    margin-left:10px;
    font-weight:bold;
    position:relative;
    top:-5px;
}
aside h3{
    margin-top: 30px;
    font-size: 10ps;
}
aside ul {list-style: none;}

aside ul li{
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .7s ease;
}


aside ul li:hover, aside ul a:hover{
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}
main .features{
    float: right;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width:80%;
}



main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto}

.alter-warning{
    float:left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align:left;
}
form{
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}