{% extends 'main/layout.html' %}

{% block title %}Новости на сайте{% endblock %}

{% block content %}
    <div class="features">
        <h1>Новости на сайте</h1>
        {% for el in news %}
        <div class="alter alter-warning">
            <p>Категория: {{el.cat}}</p>
            <p>Дата: {{el.date|date:"d-m-Y H:i:s"}}</p>
            <h3>{{el.title}}</h3>
            <p>Авторы:</p>
            <ul>
            {% for author in el.authors.all %}
                <li>{{author}}</li>
            {% endfor %}
            </ul>
            <a href="{% url 'news-detail' el.id %}" class="btn btn-warning">Читать детальнее</a>
        </div>
        {% endfor %}

    </div>
{% endblock %}